*{
    margin: 0;
    padding: 0;
}
body{
    /*background-image: url(../assets/bg.jpg);    */
    background:#000;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
html {
    scroll-behavior: smooth;
}
.nav{
    position: relative;
    top: 30px;
    left: 20px;
}
.nav h1 {
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
.cadastro{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
}
.tabela-produtos{width: 44%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: #fff;
    color: #000;
}
.cadastro h1 {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#form{
    height: 48vh;
    width: 25%;
    background: #e2e2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 25px;
    padding: 25px;
}
.tabela-prod table{
    width: 120%;
    margin: 5px;
	text-align: center;
	font-size: 1.5em;
    border-collapse: collapse; /* CSS2 */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabela-prod th{
    font-weight: 500;
    background:  #e2e2;
    color:#fff;
}
.tabela-prod table tbody{
    text-align: center;
	border-collapse: collapse; /* CSS2 */
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:  #e2e2;
    color: #fff;
}
.container-botoes{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}
.botao {
        margin: 0 20px;
        padding: 12px 20px;
        max-width: 200px;
        background-color: #e2e2;
        color: #fff;
        border-radius: 6px;
        border: 0;
        transition: background-color 0.2s;
        font-size: 16px;
        font-weight: 600;
        height: fit-content;
    }
.botao:hover {
        cursor: pointer;
        box-shadow: 0 1px 6px #20212447;
        background-color: #ffc09f;
    }
#cad:hover{
    cursor: pointer;
    box-shadow: 0 1px 6px #20212447;
    background-color: #ffc09f;
}

input{
    width: 44%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: #fff;
    color: #000;
}
.date {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
